<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + survey.avatar + ')' }"
      class="example-header-image"
    ></div>
    <mat-card-title>{{ survey.title }}</mat-card-title>
    <mat-card-subtitle>{{ survey.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <!-- Update Button with bound click event -->
    <button
      (click)="RouteToSurvey(survey._id)"
      mat-raised-button
      color="primary"
    >
      UPDATE
    </button>
    <!-- Delete Button with bound click event -->
    <button (click)="DeleteSurvey(survey._id)" mat-raised-button color="warn">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
