<!-- Navigation -->
<mat-toolbar color="primary">
  <!-- the name we put into mat icon controls what type of icon is displayed. We put menu so we get a hamburger menu -->
  <span class="logo" routerLink="/home">🍯 Survey Hive</span>
  <span class="fill-space"></span>
  <div>
    <a mat-button routerLink="/dashboard">👤 My Dashboard</a>
    <a mat-button routerLink="/about">😀 About Us</a>
    <a mat-button routerLink="/survey">📜 Create a Survey</a>
    <a mat-button routerLink="/contact">☎️ Contact Us</a>
  </div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a mat-menu-item target="_blank" href="https://discord.gg/faxN8vHpXn">
      <i>💬</i>
      <span>Chat with us on Discord</span>
    </a>
  </mat-menu>
</mat-toolbar>
