<div *ngIf="!submitted; else other_content">
  <!-- Title of Survey and Description -->
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <h3>{{ data.description }}</h3>
  <form [formGroup]="responseForm">
    <mat-dialog-content class="mat-typography">
      <!-- First Question -->
      <mat-label>{{ data.questions[0].question1 }}</mat-label>
      <mat-radio-group
        formControlName="response1"
        class="radio-group"
        aria-label="Select an option"
      >
        <mat-radio-button class="radio-button" value="1">{{
          data.questions[0].answer1
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">{{
          data.questions[0].answer2
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">{{
          data.questions[0].answer3
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="4">{{
          data.questions[0].answer4
        }}</mat-radio-button>
      </mat-radio-group>

      <!-- Second Question -->
      <mat-label>{{ data.questions[1].question2 }}</mat-label>
      <mat-radio-group
        formControlName="response2"
        class="radio-group"
        aria-label="Select an option"
      >
        <mat-radio-button class="radio-button" value="1">{{
          data.questions[1].answer1
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">{{
          data.questions[1].answer2
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">{{
          data.questions[1].answer3
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="4">{{
          data.questions[1].answer4
        }}</mat-radio-button>
      </mat-radio-group>

      <!-- Third Question -->
      <mat-label>{{ data.questions[2].question3 }}</mat-label>
      <mat-radio-group
        formControlName="response3"
        class="radio-group"
        aria-label="Select an option"
      >
        <mat-radio-button class="radio-button" value="1">{{
          data.questions[2].answer1
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">{{
          data.questions[2].answer2
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">{{
          data.questions[2].answer3
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="4">{{
          data.questions[2].answer4
        }}</mat-radio-button>
      </mat-radio-group>

      <!-- Fourth Question -->
      <mat-label>{{ data.questions[3].question4 }}</mat-label>
      <mat-radio-group
        formControlName="response4"
        class="radio-group"
        aria-label="Select an option"
      >
        <mat-radio-button class="radio-button" value="1">{{
          data.questions[3].answer1
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="2">{{
          data.questions[3].answer2
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="3">{{
          data.questions[3].answer3
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="4">{{
          data.questions[3].answer4
        }}</mat-radio-button>
      </mat-radio-group>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>
  </form>
</div>
<ng-template #other_content>
  <p>Survey Submitted!</p>
  <button
    cdkFocusInitial
    mat-raised-button
    color="warn"
    [mat-dialog-close]="true"
  >
    Close
  </button>
</ng-template>
