<mat-card>
  <div *ngIf="isSignup">
    <h3>Create Account</h3>

    <button mat-stroked-button (click)="changeType('login')">
      Returning user?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>
    <button size="small" mat-stroked-button (click)="changeType('signup')">
      New user?
    </button>
  </div>

  <div *ngIf="isPasswordReset">
    <h3>Reset Password</h3>
    <button size="small" mat-button (click)="changeType('login')">Back</button>
  </div>

  <!-- Enter Email Address -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />
      <!-- Error Message -->
      <mat-error *ngIf="email?.invalid && email?.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <!-- Enter First Name -->
    <mat-form-field *ngIf="isSignup" [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="firstName"
        type="text"
        placeholder="First Name"
        autocomplete="off"
      />
      <!-- Error Message -->
      <mat-error *ngIf="email?.invalid && email?.dirty">
        Please Enter Your First Name
      </mat-error>
    </mat-form-field>

    <!-- Enter Last Name -->
    <mat-form-field *ngIf="isSignup" [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="lastName"
        type="text"
        placeholder="Last Name"
        autocomplete="off"
      />
      <!-- Error Message -->
      <mat-error *ngIf="email?.invalid && email?.dirty">
        Please Enter Your First Name
      </mat-error>
    </mat-form-field>

    <!-- Enter a Password -->
    <mat-form-field [color]="email?.valid && 'accent'" *ngIf="!isPasswordReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />
      <!-- Error Message -->
      <mat-error *ngIf="password?.invalid && password?.dirty">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <!-- Confirm Your Password -->
    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off"
      />
      <!-- Error Message -->
      <mat-error *ngIf="passwordConfirm?.dirty && !passwordDoesMatch">
        Password does not match
      </mat-error>
    </mat-form-field>

    <!-- Send Server Message If Error -->
    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <!-- Send Password Reset Email -->
    <button
      *ngIf="isPasswordReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading"
    >
      Send Reset Email
    </button>

    <!-- Submit Form -->
    <button
      *ngIf="isSignup"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
    >
      Submit
    </button>

    <button
      *ngIf="isLogin"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="loading"
    >
      Submit
    </button>
  </form>

  <!-- Request Password Reset -->
  <button
    mat-button
    *ngIf="isLogin && !isPasswordReset"
    (click)="changeType('reset')"
  >
    Forgot password?
  </button>
</mat-card>
