<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-button routerLink="home" (click)="drawer.close()"
        ><mat-icon>polymer</mat-icon> Home Page</a
      >

      <a
        mat-button
        *ngIf="!isLoggedIn()"
        routerLink="login"
        (click)="drawer.close()"
        ><mat-icon>login</mat-icon> Login</a
      >
      <a
        mat-button
        routerLink="survey"
        *ngIf="isLoggedIn()"
        (click)="drawer.close()"
        ><mat-icon>content_paste</mat-icon> Create a Survey
      </a>
      <a
        mat-button
        routerLink="dashboard"
        *ngIf="isLoggedIn()"
        (click)="drawer.close()"
      >
        <mat-icon>dashboard</mat-icon> {{ user.firstName }}'s Dashboard</a
      >
      <a mat-button *ngIf="isLoggedIn()" (click)="logout()"
        ><mat-icon>logout</mat-icon> Logout</a
      >
      <a mat-button target="_blank" href="https://discord.gg/faxN8vHpXn">
        <mat-icon>chat_bubble_outline</mat-icon>
        Chat with us on Discord
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon>polymer</mat-icon
      ><span class="logo" routerLink="home"> Survey Hive</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button *ngIf="!isLoggedIn()" routerLink="login"
          ><mat-icon>login</mat-icon> Login
        </a>
        <a mat-button routerLink="survey" *ngIf="isLoggedIn()">
          <mat-icon>content_paste</mat-icon> Create a Survey
        </a>
        <a mat-button routerLink="dashboard" *ngIf="isLoggedIn()">
          <mat-icon>dashboard</mat-icon> {{ user.firstName }}'s Dashboard</a
        >
        <a mat-button *ngIf="isLoggedIn()" (click)="logout()"
          ><mat-icon>logout</mat-icon> Logout</a
        >
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item target="_blank" href="https://discord.gg/faxN8vHpXn">
          <mat-icon>chat_bubble_outline</mat-icon>
          <span>Chat with us on Discord</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <div class="container">
      <ng-content></ng-content>
    </div>
    <mat-toolbar class="footer"
      ><p><small>&copy; copyright</small> Team Endeavours</p></mat-toolbar
    >
  </mat-sidenav-content>
</mat-sidenav-container>
